Host git.echodyne.int
    IdentityFile ~/.ssh/echo_id_rsa

Host github.com
    IdentityFile ~/.ssh/github-id_rsa

Host John-Glenn-A
    IdentityFile ~/.ssh/john-glenn_id_rsa

Host bze
    IdentityFile ~/.ssh/bze-id_rsa

