Host git.echodyne.int
    IdentityFile ~/.ssh/echo_id_rsa

Host github.com
    IdentityFile ~/.ssh/github.com/p5a0u9l-id_rsa

Host amalthea.local
    IdentitiesOnly yes
    IdentityFile ~/.ssh/jupiter.lan/amalthea-id_rsa

Host thebes.local
    IdentitiesOnly yes
    IdentityFile ~/.ssh/jupiter.lan/thebes-id_rsa

Host lynx.local
    IdentitiesOnly yes
    IdentityFile ~/.ssh/jupiter.lan/lynx-id_rsa

Host europa.local
    IdentitiesOnly yes
    IdentityFile ~/.ssh/jupiter.lan/europa-id_rsa
