Host ee.washington.edu
    IdentityFile ~/.ssh/ee.washington.edu/ee.washington.edu-p5a0u9l-id_rsa

Host github.com
    IdentityFile ~/.ssh/github.com/p5a0u9l-id_rsa

Host ganymede
    IdentitiesOnly yes
    IdentityFile ~/.ssh/jupiter.lan/ganymede-id_rsa

Host callisto
    IdentitiesOnly yes
    IdentityFile ~/.ssh/jupiter.lan/callisto-id_rsa

Host io
    IdentitiesOnly yes
    IdentityFile ~/.ssh/jupiter.lan/io-id_rsa

Host amalthea.jupiter.lan
    IdentitiesOnly yes
    IdentityFile ~/.ssh/jupiter.lan/amalthea-id_rsa

Host thebes
    IdentitiesOnly yes
    IdentityFile ~/.ssh/jupiter.lan/thebes-id_rsa

Host 192.168.1.104
    IdentitiesOnly yes
    IdentityFile ~/.ssh/jupiter.lan/europa-id_rsa

Host europa
    IdentitiesOnly yes
    IdentityFile ~/.ssh/jupiter.lan/europa-id_rsa
