# ---
# zsh
# ---
[submodule "modules/zsh/dracula-theme"]
	path = modules/zsh/dracula-theme
	url = https://github.com/dracula/zsh.git
[submodule "modules/zsh/zsh-autosuggestions"]
	path = modules/zsh/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "modules/zsh/oh-my-zsh"]
	path = modules/zsh/oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh
# ---
# vim
# ---
[submodule "modules/vim/bundle/vim-colorschemes"]
	path = modules/vim/bundle/vim-colorschemes
	url = https://github.com/flazz/vim-colorschemes
[submodule "modules/vim/bundle/vim-pathogen"]
	path = modules/vim/bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen
[submodule "modules/vim/bundle/ctrlp.vim"]
	path = modules/vim/bundle/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim
[submodule "modules/vim/bundle/vim-surround"]
	path = modules/vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "modules/vim/bundle/vim-fugitive"]
	path = modules/vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "modules/vim/bundle/vim-commentary"]
	path = modules/vim/bundle/vim-commentary
	url = https://github.com/tpope/vim-commentary
[submodule "modules/vim/bundle/vim-easytags"]
	path = modules/vim/bundle/vim-easytags
	url = https://github.com/xolox/vim-easytags
[submodule "modules/vim/bundle/vim-misc"]
	path = modules/vim/bundle/vim-misc
	url = https://github.com/xolox/vim-misc
[submodule "modules/vim/bundle/vim-airline"]
	path = modules/vim/bundle/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "modules/vim/bundle/vim-airline-themes"]
	path = modules/vim/bundle/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes
[submodule "modules/vim/bundle/neomake"]
	path = modules/vim/bundle/neomake
	url = https://github.com/neomake/neomake
[submodule "modules/vim/bundle/dracula-theme"]
	path = modules/vim/bundle/dracula-theme
	url = https://github.com/dracula/vim.git
[submodule "modules/vim/bundle/julia.vim"]
	path = modules/vim/bundle/julia.vim
	url = https://github.com/JuliaEditorSupport/julia-vim
[submodule "modules/vim/bundle/vim-eunuch"]
	path = modules/vim/bundle/vim-eunuch
	url = https://github.com/tpope/vim-eunuch
[submodule "modules/vim/bundle/vim-dirvish"]
	path = modules/vim/bundle/vim-dirvish
	url = https://github.com/justinmk/vim-dirvish
[submodule "modules/vim/bundle/vim-sensible"]
	path = modules/vim/bundle/vim-sensible
	url = https://github.com/tpope/vim-sensible
[submodule "modules/vim/bundle/vim-sneak"]
	path = modules/vim/bundle/vim-sneak
	url = https://github.com/justinmk/vim-sneak
# ------
# python
# ------
[submodule "modules/python/pyenv"]
	path = modules/python/pyenv
	url = https://github.com/pyenv/pyenv
# ----
# tmux
# ----
[submodule "modules/tmux/plugins/tpm"]
	path = modules/tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "modules/tmux/plugins/tmux-sensible"]
	path = modules/tmux/plugins/tmux-sensible
	url = https://github.com/tmux-plugins/tmux-sensible
[submodule "modules/tmux/plugins/tmux-battery"]
	path = modules/tmux/plugins/tmux-battery
	url = https://github.com/tmux-plugins/tmux-battery
[submodule "modules/python/pyenv-virtualenv"]
	path = modules/python/pyenv-virtualenv
	url = https://github.com/pyenv/pyenv-virtualenv
[submodule "modules/vim/bundle/YouCompleteMe"]
	path = modules/vim/bundle/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe
[submodule "modules/vim/bundle/ale"]
	path = modules/vim/bundle/ale
	url = https://github.com/w0rp/ale
[submodule "modules/vim/bundle/completor.vim"]
	path = modules/vim/bundle/completor.vim
	url = https://github.com/maralla/completor.vim
[submodule "modules/zsh/zsh-histdb"]
	path = modules/zsh/zsh-histdb
	url = https://github.com/larkery/zsh-histdb
[submodule "completor.vim"]
	path = completor.vim
	url = https://github.com/maralla/completor.vim
[submodule "vim-table-mode"]
	path = vim-table-mode
	url = https://github.com/dhruvasagar/vim-table-mode
[submodule "modules/vim/bundle/vim-table-mode"]
	path = modules/vim/bundle/vim-table-mode
	url = https://github.com/dhruvasagar/vim-table-mode
[submodule "modules/vim/bundle/vim-matlab"]
	path = modules/vim/bundle/vim-matlab
	url = https://github.com/tdehaeze/matlab-vim
[submodule "modules/vim/bundle/tagbar"]
	path = modules/vim/bundle/tagbar
	url = https://github.com/majutsushi/tagbar
[submodule "modules/vim/bundle/fzf.vim"]
	path = modules/vim/bundle/fzf.vim
	url = https://github.com/junegunn/fzf.vim
[submodule "modules/vim/bundle/nerdtree"]
	path = modules/vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "modules/vim/bundle/vim-vinegar"]
	path = modules/vim/bundle/vim-vinegar
	url = https://github.com/tpope/vim-vinegar
[submodule "modules/tmux/plugins/tmux-resurrect"]
	path = modules/tmux/plugins/tmux-resurrect
	url = https://github.com/tmux-plugins/tmux-resurrect
