# ----
# tmux
# ----

[submodule "modules/tmux/plugins/tpm"]
	path = modules/tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm

[submodule "modules/tmux/plugins/tmux-sensible"]
	path = modules/tmux/plugins/tmux-sensible
	url = https://github.com/tmux-plugins/tmux-sensible

[submodule "modules/tmux/plugins/tmux-battery"]
	path = modules/tmux/plugins/tmux-battery
	url = https://github.com/tmux-plugins/tmux-battery

[submodule "modules/tmux/plugins/tmux-resurrect"]
	path = modules/tmux/plugins/tmux-resurrect
	url = https://github.com/tmux-plugins/tmux-resurrect
[submodule "modules/zsh/oh-my-zsh"]
	path = modules/zsh/oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "modules/zsh/zsh-autosuggestions"]
	path = modules/zsh/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "modules/zsh/zsh-syntax-highlighting"]
	path = modules/zsh/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
